@keyframes pulse-scale {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.animate-pulse-scale {
  animation: pulse-scale 0.8s linear infinite;
}
